<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>

  </head>

  <body>
    <div class="container">
      <h1 class="mt-5">プロフィールの更新</h1>
      <form method="POST" action="{{ url_for('app.update.update') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="username">ユーザー名</label>
          {{ form.username(class="form-control", id="username") }}
        </div>
        <div class="form-group">
          <label for="current_point">現在のポイント</label>
          {{ form.current_point(class="form-control", id="current_point") }}
        </div>
        <div class="form-group">
          <label for="monthly_point">月間ポイント</label>
          {{ form.monthly_point(class="form-control", id="monthly_point") }}
        </div>
        <div class="form-group">
          <label for="goal_point">目標ポイント</label>
          {{ form.goal_point(class="form-control", id="goal_point") }}
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>

</html>
