{% extends 'layout.html' %}

{% block content %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <div class="header">
    <nav class="d-none d-lg-block d-xl-block mt-4">
      <div class="container-fluid d-flex justify-content-between" id="navi">
        <h1 class="font-title">@niftyポイントマスター(仮)</h1>
        <div class="login d-flex">
          <img src="/static/人物のアイコン素材 その3.png" class="login_icon">
          <p>アカウント</p>
        </div>
      </div>
    </nav>
  </div>

  <body>
    <form method="POST" action="{{ url_for('app.update.update') }}">
      <div class="flex flex-col items-center justify-center min-h-screen bg-gray-200">
        <div class="bg-gray-100 p-8 rounded-lg shadow-md w-full max-w-2xl">
          <h2 class="text-4xl font-bold mb-6">プロフィールの更新</h2>
          <div class="flex justify-between mb-4">
            <span class="text-xl">ユーザー名 :</span>
            <span class="text-xl">
              {{ username }}</span>
          </h2>
        </div>

        {{ form.hidden_tag() }}
        <div class="flex justify-between mb-4">
          <span class="text-xl">現在のポイント数 :</span>
          <div class="flex items-center">
            <span class="text-3xl font-bold">
              {{ form.current_point(class="form-control", id="current_point") }}
            </span>
            <span class="ml-2">pt</span>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <span class="text-xl">毎月のポイント数 :</span>
          <div class="flex items-center">
            <span class="text-3xl font-bold">
              {{ form.monthly_point(class="form-control", id="monthly_point") }}
            </span>

            <span class="ml-2">pt</span>
          </div>
        </div>

        <div class="flex justify-between mb-4">
          <span class="text-xl">目標ポイント:</span>
          <div class="flex items-center">
            <span class="text-3xl font-bold">
              {{ form.goal_point(class="form-control", id="goal_point") }}
            </span><span class="ml-2">pt</span>
          </div>
        </div>
        <button type="submit" class="bg-orange-400 text-white py-2 px-4 rounded-lg ">更新</button>
        <a href="{{ url_for('app.profile.profile') }}" class="rounded bg-gray-200 p-2 transition-colors hover:bg-gray-300">キャンセル</a>
      </div>

    </form>
    <div class="flex justify-center mt-4 space-x-4 buttons"></div>
  </div>
</body>

</html>
{% endblock %}