{% extends 'layout.html' %}

{% block title %}
  商品一覧ページ
{% endblock %}

{% block content %}
  <div class="header">
    <nav class="d-none d-lg-block d-xl-block mt-4">
      <div class="container-fluid d-flex justify-content-between" id="navi">
        <h1 class="font-title">@niftyポイントマスター(仮)</h1>
        <div class="login d-flex">
          <img src="/static/人物のアイコン素材 その3.png" class="login_icon">
          <p>アカウント</p>
        </div>
      </div>
    </nav>
  </div>

  <hr class="line">
  <div class="main-container">
    <div class="container-fluid d-flex justify-content-start mt-3" id="point_count">
      <p class="fp">ポイント：</p>
      <input type="text" class="mx-3 text-box"></input>
      <!--ポイント数インプット欄下限-->
      <p class="fw-bold">～</p>
      <input type="text" class="mx-3 text-box"></input>
      <!--ポイント数インプット欄上限-->
      <button>適用</button>
    </div>
    <div class="product mt-5">
      <!--商品一覧リスト-->
      <div class="d-flex">
        <div class="col-3">
          <a href="">
            <img src="https://placehold.jp/280x245.png" alt="">
          </a>
          <h4>100pt</h4>
        </div>
        <div class="col-3">
          <a href="">
            <img src="https://placehold.jp/280x245.png" alt="">
          </a>
          <h4>100pt</h4>
        </div>
        <div class="col-3">
          <a href="">
            <img src="https://placehold.jp/280x245.png" alt="">
          </a>
          <h4>100pt</h4>
        </div>
        <div class="col-3">
          <a href="">
            <img src="https://placehold.jp/280x245.png" alt="">
          </a>
          <h4>100pt</h4>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
