{% extends 'layout.html' %}

{% block title %}
  商品一覧ページ
{% endblock %}

{% block content %}
  <div class="header">
    <nav class="d-none d-lg-block d-xl-block mt-4">
      <div class="container-fluid d-flex justify-content-between" id="navi">
        <h1 class="font-title">@niftyポイントマスター(仮)</h1>
        <div class="login d-flex">
          <img src="/static/人物のアイコン素材 その3.png" class="login_icon">
          <p>アカウント</p>
        </div>
      </div>
    </nav>
  </div>

  <hr class="line">
  <div class="main-container">
    <div class="container-fluid d-flex justify-content-start mt-3" id="point_count">
      <form action="{{ url_for('app.comlist.com_list') }}" method="post" class="d-flex">

        <p class="fp">ポイント：</p>
        <input type="number" class="mx-3 text-box" name="min_points" min="0" {% if min_points != None %} value="{{ min_points }}" {% endif %}></input>
        <!--ポイント数インプット欄下限-->
        <p class="fw-bold">～</p>
        <input type="number" class="mx-3 text-box" name="max_points" min="0" {% if max_points != None %} value="{{ max_points }}" {% endif %}></input>
        <!--ポイント数インプット欄上限-->
        <button type="submit" class="btn btn-primary mx-3">適用</button>
        <!-- 提出ボタン -->
      </form>
    </div>
    <div class="product mt-5">
      <!--商品一覧リスト-->
      <div class="d-flex flex-wrap">
        {% for product in products %}
          <div class="col-3">
            <a href="">
              <img src="https://placehold.jp/280x245.png" alt="">
            </a>
            <h4>{{ product.name }}</h4>
            <h4>{{ product.points }}pt</h4>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
