<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー情報</title>
</head>

<body>
  <h1>ユーザー情報
  </h1>
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Current Point</th>
        <th scope="col">Monthly Point</th>
        <th scope="col">Goal Point</th>
        <th scope="col">Admin</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.current_point }}</td>
          <td>{{ user.monthly_point }}</td>
          <td>{{ user.goal_point }}</td>
          <td>{{ user.is_admin }}</td>
          <td>
            <a href="{{ url_for('app.admin.update', user_id=user.id) }}">Update</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>